.ticketWrapper{
    width: 600px;
    border: 2px darkgray dashed;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.ticketItem{
    width: 75px;
    height: 75px;
    background-color: greenyellow;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticketLot{
    color: white;
    font-size: 26px;
}